<h1>Livros</h1>
<div id="allbooks">
  <% @books.each do |book| %>
  <div>
    <ul>
      <li><%= link_to book.name, book_path(book) %>, <%= book.author %></li>
      <li><%= number_to_currency(book.price) %>, Desconto: <%= number_to_percentage(book.discount, precision: 2) %></li>
      <li><%= link_to 'Comprar', purchases_path({book_id: book, client_id: @client}), method: :post %></li>
    </ul>
  </div>
  <% end %>
</div>
