<!DOCTYPE html>
<html>
  <head>
    <title>FirstApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% if notice %>
        <div id="notice">
          <h3><%= notice %></h3>
        </div>
      <% end %>
      <% if alert %>
        <div id="alert">
          <h3><%= alert %></h3>
        </div>
      <% end %>
      <ul id="loginbar">
        <li>
          <%= link_to 'Página Inicial', books_path %>
        </li>
        <% if client_signed_in? %>
          <li><%= current_client.email %></li>
            <%= link_to 'Meus Livros', clients_books_path %>
          <li>
            <%= link_to 'Sair', destroy_client_session_path, method: :delete %>
          </li>
          <li>
            <%= link_to 'Editar Conta', client_registration_path, method: :put %>
          </li>
        <% elsif !client_signed_in? %>
          <li>
            <%= link_to 'Entrar', new_client_session_path %>
          </li>
          <li>
            <%= link_to 'Registrar-se', new_client_registration_path %>
          </li>
        <% end %>
      </ul>
      <%= yield %>
    </div>
  </body>
</html>
